<template>
  <div class="lp-actions-container">
    <div class="panel-bg">
      <div class="lp-actions-title">ACTIONS</div>
      <div class="actions-wrapper">
        <LevelUp />
      </div>
      <div class="actions-wrapper">
        <SelectSkill />
      </div>
      <div class="actions-wrapper">
        <Drugs />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { useStore } from "vuex";
import { defineComponent, onMounted } from "vue";
import "./level-phase-containers.css";
import Drugs from "./Drugs.vue";
import SelectSkill from "./SelectSkill.vue";
import LevelUp from "./LevelUp.vue";

export default defineComponent({
  name: "Actions",
  components: {
    Drugs,
    SelectSkill,
    LevelUp,
  },
  setup() {
    const store = useStore();
    onMounted(() => {
      store.dispatch("refreshStats");
    });
    return {
      state: store.state,
      CharStats: store.state.build.CharStats,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.actions-wrapper {
  position: relative;
  display: flex;
  justify-content: normal;
  font-size: 14px;
}
</style>
