<template>
  <div class="books-wrapper">
    <button
      class="image-btn"
      :disabled="!state.build.Books.SmallGuns.available"
      @click="readBook('SmallGuns')"
    >
      <img
        :class="
          state.build.Books.SmallGuns.available
            ? 'image-book'
            : 'disabled-image-book'
        "
        src="@/assets/img/books/SmallGunsBook.png"
        alt=""
      />
    </button>
    <button
      class="image-btn"
      :disabled="!state.build.Books.FirstAid.available"
      @click="readBook('FirstAid')"
    >
      <img
        :class="
          state.build.Books.FirstAid.available
            ? 'image-book'
            : 'disabled-image-book'
        "
        src="@/assets/img/books/FirstAidBook.png"
        alt=""
      />
    </button>
    <button
      class="image-btn"
      :disabled="!state.build.Books.Outdoorsman.available"
      @click="readBook('Outdoorsman')"
    >
      <img
        :class="
          state.build.Books.Outdoorsman.available
            ? 'image-book'
            : 'disabled-image-book'
        "
        src="@/assets/img/books/OutdoorsmanBook.png"
        alt=""
      />
    </button>
    <button
      class="image-btn"
      :disabled="!state.build.Books.Science.available"
      @click="readBook('Science')"
    >
      <img
        :class="
          state.build.Books.Science.available
            ? 'image-book'
            : 'disabled-image-book'
        "
        src="@/assets/img/books/ScienceBook.png"
        alt=""
      />
    </button>
    <button
      class="image-btn"
      :disabled="!state.build.Books.Repair.available"
      @click="readBook('Repair')"
    >
      <img
        :class="
          state.build.Books.Repair.available
            ? 'image-book'
            : 'disabled-image-book'
        "
        src="@/assets/img/books/RepairBook.png"
        alt=""
      />
    </button>
    <button
      class="image-btn"
      :disabled="!state.build.Books.Barter.available"
      @click="readBook('Barter')"
    >
      <img
        :class="
          state.build.Books.Barter.available
            ? 'image-book'
            : 'disabled-image-book'
        "
        src="@/assets/img/books/BarterBook.png"
        alt=""
      />
    </button>
  </div>
</template>
<script>
import { useStore } from "vuex";
export default {
  name: "Books",
  setup() {
    const store = useStore();
    const readBook = (book) => {
      const data = {
        skill: book,
        modifier: "book",
        multiplier: 10,
      };
      store.dispatch("selectSkill", book);
      store.dispatch("modifySkill", data);
    };
    return {
      state: store.state,
      readBook,
    };
  },
};
</script>
<style scoped>
.books-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.image-btn {
  display: flex;
  justify-content: space-between;
  width: 42px;
  max-width: 45px;
  max-height: 27px;
  padding: 0px;
  margin: 0;
  background-color: transparent;
  border: none;
}
.image-book {
  height: 100%;
  width: 100%;
  margin: auto;
  -webkit-filter: grayscale(30%) drop-shadow(2px 2px 2px #222);
  filter: grayscale(30%) drop-shadow(2px 2px 2px #222);
}
.disabled-image-book {
  height: 70%;
  width: 70%;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 5px;
  margin: auto;
  -webkit-filter: grayscale(80%) drop-shadow(2px 2px 2px #222);
  filter: grayscale(80%) drop-shadow(2px 2px 2px #222);
}
.image-btn:focus {
  outline: none;
  box-shadow: none;
}
.image-book:hover {
  outline: none;
  box-shadow: none;
  height: 115%;
  width: 115%;
  -webkit-filter: contrast(120%) brightness(1.5) drop-shadow(1px 1px 1px #222);
  filter: contrast(120%) brightness(1.5) drop-shadow(1px 1px 1px #222);
  cursor: pointer;
}
</style>