<template>
  <div class="char-image-container">
    <div v-if="!showEditNamePanel">
      <div
        class="empty-inputs"
        v-if="!state.build.buildInfo.name && !state.build.buildInfo.class"
        @click="showEditNamePanel = true"
      >
        Click to add name or class
      </div>
      <div v-else
        @click="showEditNamePanel = true"
      >
        <div class="char-image-info-char-name">{{ state.build.buildInfo.name || '[Add character name]' }}</div>
        <div class="char-image-info-char-class">{{ state.build.buildInfo.class || '[Add character class]' }}</div>
      </div>
      <div class="char-image-info-div">
        <div class="char-image-info-name">Level: {{ getCurrentLevel() }}</div>
        <div class="char-image-info-name">Species: Human</div>
        <div class="char-image-info-name">Gender: Male</div>
        <div class="char-image-info-traits-title">Traits: {{ state.build.buildInfo.Traits.length ? '' : 'None' }}</div>
        <div v-if="state.build.buildInfo.Traits.length">
          <div
            class="char-image-info-trait"
            v-for="trait in state.build.buildInfo.Traits"
            :key="trait">
            {{ '- ' + trait }}
          </div>
        </div>
      </div>
      <div class="char-image-div" @click="showEditNamePanel = true">
        <div class="hit-points">HP: {{ Math.round(state.build.CharStats.HitPoints.value) }}</div>
        <!-- <img class="char-image-img" src="@/assets/img/defaultMutant.gif" alt="" /> -->
        <img class="char-image-img" src="@/assets/img/defaultMale.gif" alt="" />
      </div>
    </div>
    <div v-else class="extra-panel">
      <input class="input-field" autofocus spellcheck="false" type="text" placeholder="Name..." v-model="inputName" @change="updateInput('name')" />
      <input class="input-field" spellcheck="false" type="text" placeholder="Class..." v-model="inputClass" @change="updateInput('class')" />
      <button @click="showEditNamePanel = false">Done</button>
    </div>
  </div>
</template>
<script>
import { defineComponent, ref } from "vue";
import { useStore } from "vuex";
export default defineComponent({
  name: "Character Panel",
  setup() {
    const store = useStore();
    const showEditNamePanel = ref(false)
    const inputName = ref(store.state.build.buildInfo.name)
    const inputClass = ref(store.state.build.buildInfo.class)
    const updateInput = (inputField) => {
      const data = {
        field: inputField,
        value: inputField === 'name' ? inputName.value : inputClass.value
      }
      store.dispatch('updateBuildDetails', data)
    }
    const getCurrentLevel = () => {
      return store.state.build.buildInfo.currentLevel;
    };
    return {
      state: store.state,
      getCurrentLevel,
      showEditNamePanel,
      inputName,
      inputClass,
      updateInput
    };
  },
});
</script>
<style>
.char-image-container {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  /* margin-top: 5px; */
  background-color: rgba(192, 188, 188, 0.219);
  border: 1px solid black;
  border-radius: 5px;
  height: 130px;
  width: 85%;
  font-size: 14px;
  /* padding-top: 5px; */
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}
.char-image-div {
  cursor: pointer;
  float: right;
  height: 95px;
  position: relative;
  /* margin-bottom: auto; */
  /* background-color: rgba(235, 4, 4, 0.37); */
  /* border: 1px solid black; */
  width: 50px;
}
.char-image-div:hover {
  background-color: rgba(238, 238, 238, 0.151);
  border-radius: 5px;
  /* border: 1px solid black; */
}
.char-image-img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.empty-inputs {
  color: white;
  cursor: pointer;
}
.input-field {
  border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
  color: white;
  font-family: "Fixedsys Excelsior 3.01", Helvetica, Arial;
  text-shadow: 1px 1px rgb(48, 41, 41);
  font-size: 14px;
  width: 90%;
  padding-top: 2px;
  margin-top: 2px;
}
.input-field:focus {
  border: 1px solid #c9f0ba;
}
.char-image-info-div {
  float: left;
  height: 85px;
  /* background-color: rgba(223, 6, 6, 0.219); */
  width: 120px;
}
.char-image-info-char-name {
  cursor: pointer;
  display: block;
  text-align: center;
  color: white;
  text-shadow: 1px 1px rgb(48, 41, 41);
  padding-top: 2px;
  height: 13.6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.char-image-info-char-class {
  cursor: pointer;
  display: block;
  text-align: center;
  color: white;
  text-shadow: 1px 1px rgb(48, 41, 41);
  padding-top: 2px;
  padding-bottom: 2px;
  opacity: 0.7;
  height: 13.6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.char-image-info-name {
  display: block;
  text-align: left;
  height: 13.6px;
}
.char-image-info-traits-title {
  display: block;
  text-align: left;
  height: 13.6px;
  padding-top: 2px;
}
.char-image-info-trait {
  display: block;
  text-align: left;
  color: #c9f0ba;
  height: 13.6px;
  /* padding-left: 4px; */
}
</style>