<template>
  <div class="lp-char-stats-container">
    <div class="panel-bg">
      <div v-if="panelState === 'default'">
        <div class="lp-char-stats-title">CHAR STATS</div>
          <CharacterTable />
          <div style="margin: 8px;"></div>
          <CharStatsTable />
          <div style="margin: 8px;"></div>
          <GearTable @equip="equipGear" />
          <div style="margin: 8px;"></div>
          <ResistanceTable />
        </div>
      <div v-else>
        <EquipPanel :gearSlot="panelState" @equip="equipGear" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { useStore } from "vuex";
import { defineComponent, ref } from "vue";
import "./level-phase-containers.css";
import CharacterTable from "./charStats/CharacterTable.vue";
import CharStatsTable from "./charStats/CharStatsTable.vue";
import ResistanceTable from "./charStats/ResistanceTable.vue";
import GearTable from "./charStats/GearTable.vue";
import EquipPanel from "./charStats/EquipPanel.vue";



export default defineComponent({
  name: "CharStats",
  components: {
    CharacterTable,
    CharStatsTable,
    ResistanceTable,
    GearTable,
    EquipPanel
  },
  setup() {
    const store = useStore();
    const panelState = ref('default')
    const equipGear = (slot: string) => {
      panelState.value = slot ? slot : 'default'
    }
    return {
      state: store.state,
      equipGear,
      panelState
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  
</style>
