<template>
  <div class="lp-control-panel-container">
    <div class="panel-bg">
      <div class="lp-control-panel-title">Control Panel</div>
      <div>
        <button class="reset-button" @click="resetBuild">Reset Build</button>
      </div>
      <!-- <div class="scrollable" @click.self="state.ui.activePopup = 'BuildInfoPopup'">
        Click here for more info
      </div> -->
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useStore } from "vuex";
import "./level-phase-containers.css";

export default defineComponent({
  name: "Control Panel",
  setup() {
    const store = useStore();
    // const dlJSON = () => {
    //   const dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(store.state.build));
    //   const dlAnchorElem = document.getElementById('dlJSON');
    //   dlAnchorElem.setAttribute("href",     dataStr     );
    //   dlAnchorElem.setAttribute("download", "build.json");
    //   dlAnchorElem.click();
    // }
    const resetBuild = () => {
      store.dispatch('resetBuild')
    }
    return {
      state: store.state,
      ui: store.state.ui,
      resetBuild
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.traits-left {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 50%;
  font-size: 14px;
}
.traits-right {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 40%;
  font-size: 14px;
}
.trait-item {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}
.trait-name {
  width: 100%;
}
.toggle-perk-panels {
  position: relative;
}
.toggle-perks,
.toggle-support-perks {
  cursor: pointer;
}
.toggle-perks:hover,
.toggle-support-perks:hover {
  -webkit-filter: contrast(120%) brightness(2.2) drop-shadow(1px 1px 1px #222);
  filter: contrast(120%) brightness(2.2) drop-shadow(1px 1px 1px #222);
}
.scrollable {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(101, 153, 103) transparent;
  position: relative;
  max-height: 80%;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(101, 153, 103);
  border: 1px transparent;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(179, 230, 172);
}
.reset-button {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  outline: none;
  width: 100px;
  height: 30px;
  color: white;
  letter-spacing: 1px;
  text-shadow: 1px 1px black;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgba(80, 168, 80, 0.445);
  margin: 5px;
}
.reset-button:hover {
  background-color: rgba(80, 168, 80, 0.884);
}
</style>


