<template>
  <div class="drugs-container">
    <button class="image-btn" v-for="drug in Object.keys(Drugs)" :key="drug">
        <img
          :class="isTagged(drug) ? 'image-drug-tagged' : 'image-drug'"
          :src="getDrugImage(drug)"
          alt=""
          @click="toggleDrug(drug)"
        />
    </button>
  </div>
</template>
<script>
import { useStore } from 'vuex';
export default {
  name: 'Drugs',
  setup () {
    const store = useStore();
    const isTagged = (drug) => {
      return store.state.build.Drugs[drug].tagged
    }
    const getDrugImage = (drug) => {
      return require(`@/assets/img/drugs/${drug}.png`)
    }
    const toggleDrug = (drug) => {
      store.dispatch('toggleDrug', { drug })
    }
    return {
      state: store.state,
      Drugs: store.state.build.Drugs,
      isTagged,
      getDrugImage,
      toggleDrug
    }
  }
};
</script>
<style>
.drugs-container {
  display: inline-block;
  /* align-self: flex-end; */
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(192, 188, 188, 0.219);
  border: 1px solid black;
  border-radius: 5px;
  height: 110px;
  /* width: 160px; */
  padding-top: 6px;
}
.image-btn {
  cursor: pointer;
  float: left;
  width: 47px;
  height: 34px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: transparent;
  border: none;
}
.image-drug {
  height: 100%;
  width: 100%;
  -webkit-filter: grayscale(70%) drop-shadow(2px 2px 2px #222);
  filter: grayscale(70%) drop-shadow(2px 2px 2px #222);
  margin-left: 6px;
}
.image-drug-tagged {
  height: 80%;
  width: 80%;
  -webkit-filter: contrast(120%) brightness(1.5) drop-shadow(1px 1px 1px #222);
  filter: contrast(120%) brightness(1.5) drop-shadow(1px 1px 1px #222);
  margin-left: 6px;
}
.image-btn:focus {
  outline: none;
  box-shadow: none;
}
.image-drug:hover {
  outline: none;
  box-shadow: none;
  height: 115%;
  width: 115%;
  -webkit-filter: contrast(120%) brightness(1.5) drop-shadow(1px 1px 1px #222);
  filter: contrast(120%) brightness(1.5) drop-shadow(1px 1px 1px #222);
  cursor: pointer;
}
.image-drug-tagged:hover {
  outline: none;
  box-shadow: none;
  height: 95%;
  width: 95%;
  -webkit-filter: contrast(120%) brightness(1.5) drop-shadow(1px 1px 1px #222);
  filter: contrast(120%) brightness(1.5) drop-shadow(1px 1px 1px #222);
  cursor: pointer;
}
</style>