<template>
  <div class="lp-footer-container">
    <!-- <div class="panel-bg">
      <div class="footer-title"></div>
    </div> -->
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import "./level-phase-containers.css";

export default defineComponent({
  name: "Footer",
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
