<template>
  <div class="lp-header-container">
    <div class="panel-bg">
      <div class="lp-header-title">FOnline Reloaded S4 Character Planner</div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import "./level-phase-containers.css";

export default defineComponent({
  name: "Header",
  props: {
    msg: String,
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
