<template>
  <div class="lp-info-panel-container">
    <div class="panel-bg">
      <div class="lp-info-panel-title">INFO PANEL</div>
      <div class="community-links-wrapper">
        <CommunityLinks />
      </div>
      <div 
        class="version-icon-wrapper"
        v-if="!updateExists"
        @click="showVersionInfo = !showVersionInfo"
        :title="showVersionInfo ? 'Hide the latest update' : 'Show the latest update'"
      >
        <VersionButton :show="showVersionInfo" />
      </div>
      <div 
        class="refresh-icon-wrapper"
      >
        <RefreshButton />
      </div>
      <div class="info-panel-wrapper">
        <UpdateExists v-if="updateExists" @updateApp="refreshApp"/>
        <VersionInfo v-else-if="showVersionInfo" />
        <DefaultContent v-else />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { useStore } from "vuex";
import { defineComponent, ref, watch } from "vue";
import "./level-phase-containers.css";
import UpdateExists from "../shared/InfoPanel/UpdateExists.vue";
import VersionInfo from "../shared/InfoPanel/VersionInfo.vue";
import DefaultContent from "../shared/InfoPanel/DefaultContent.vue";
import update from '@/mixins/update'
import VersionButton from "../shared/InfoPanel/VersionButton.vue";
import CommunityLinks from "../shared/CommunityLinks.vue";
import RefreshButton from "../shared/InfoPanel/RefreshButton.vue";

export default defineComponent({
  name: "InfoPanel",
  components: { UpdateExists, VersionInfo, DefaultContent, VersionButton, CommunityLinks, RefreshButton },
  mixins: [update],
  setup() {
    const store = useStore();
    const showVersionInfo = ref(false)
    return {
      state: store.state,
      showVersionInfo
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.version-icon-wrapper {
  position: absolute;
  right: 42px;
  top: 5px;
}
.refresh-icon-wrapper {
  position: absolute;
  right: 14px;
  top: 5px;
}
.info-panel-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 190px;
}
.community-links-wrapper {
  position: absolute;
  width: 120px;
  top: -3px;
  left: 5px;
}
</style>
