.lp-navmenu-left-container {
  grid-area: navmenu-left;
  border: 2px ridge black;
  height: 40px;
  border-radius: 5px;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
}

.lp-header-container {
  grid-area: header;
  border: 2px ridge black;
  height: 40px;
  border-radius: 5px;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
}

.lp-navmenu-right-container {
  grid-area: navmenu-right;
  border: 2px ridge black;
  height: 40px;
  border-radius: 5px;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
}

.lp-special-container {
  grid-area: special;
  border: 2px ridge black;
  height: 286px;
  border-radius: 5px;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
  font-size: 20px;
}

.lp-combat-implants-container {
  grid-area: combat-implants;
  border: 2px ridge black;
  height: 80px;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
  border-radius: 5px;
}

.lp-char-stats-container {
  grid-area: char-stats;
  color: #85fc5a;
  font-weight: 400;
  text-shadow: 1px 1px rgb(48, 41, 41);
  border: 2px ridge black;
  height: 630px;
  font-family: "Fixedsys Excelsior 3.01", Helvetica, Arial;
  border-radius: 5px;
}

.lp-actions-container {
  grid-area: actions;
  color: #85fc5a;
  font-weight: 400;
  text-shadow: 1px 1px rgb(48, 41, 41);
  border: 2px ridge black;
  height: 380px;
  font-family: "Fixedsys Excelsior 3.01", Helvetica, Arial;
  border-radius: 5px;
}

.lp-perks-container {
  grid-area: perks;
  color: #85fc5a;
  font-weight: 400;
  text-shadow: 1px 1px rgb(48, 41, 41);
  border: 2px ridge black;
  height: 630px;
  font-family: "Fixedsys Excelsior 3.01", Helvetica, Arial;
  border-radius: 5px;
}

.lp-support-perks-container {
  grid-area: support-perks;
  color: #85fc5a;
  font-weight: 400;
  text-shadow: 1px 1px rgb(48, 41, 41);
  border: 2px ridge black;
  height: 630px;
  font-family: "Fixedsys Excelsior 3.01", Helvetica, Arial;
  border-radius: 5px;
}

.lp-skills-container {
  grid-area: skills;
  color: #85fc5a;
  font-weight: 400;
  text-shadow: 1px 1px rgb(48, 41, 41);
  border: 2px ridge black;
  height: 380px;
  border-radius: 5px;
  font-family: "Fixedsys Excelsior 3.01", Helvetica, Arial;
}

.panel-bg {
  position: relative;
  width: 100%;
  height: 100%;
}

.panel-bg::before {
  content: "";
  background-image: url('../../../assets/img/panel-bg.png');
  background-repeat: round;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.lp-header-title,
.lp-skills-title,
.lp-special-title,
.lp-char-stats-title,
.lp-info-panel-title,
.lp-footer-title,
.lp-actions-title,
.lp-perks-title,
.lp-control-panel-title {
  position: relative;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
  font-size: 24px;
  color: #dbdb34;
  padding: 3px;
  -webkit-text-stroke: 1px black;
}

.lp-control-panel-container {
  grid-area: control-panel;
  color: #85fc5a;
  font-weight: 400;
  text-shadow: 1px 1px rgb(48, 41, 41);
  border: 2px ridge black;
  height: 235px;
  border-radius: 5px;
  font-family: "Fixedsys Excelsior 3.01", Helvetica, Arial;
}

.lp-info-panel-container {
  grid-area: info-panel;
  border: 2px ridge black;
  height: 235px;
  border-radius: 5px;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
}