<template>
  <div class="lp-navmenu-left-container">
    <div class="panel-bg">
      <div class="lp-info-panel-title">{{ 'g.e.c.k. v' + latestUpdate.version }}</div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useStore } from "vuex";
import "./level-phase-containers.css";

export default defineComponent({
  name: "NavMenu Left",
  setup() {
    const store = useStore()
    const latestUpdate = store.state.system.versionLog[store.state.system.versionLog.length - 1]

    return {
      state: store.state,
      latestUpdate
    }
  }
});
</script>