<template>
  <div class="lp-navmenu-right-container">
    <div class="panel-bg">
      <div class="perks-button-container">
        <button class="image-btn" @click="ui.showPerks = !ui.showPerks">
          <img :class="ui.showPerks ? 'image-perks selected' : 'image-perks'" src="@/assets/img/level-perks-btn.png" alt="" />
        </button>
        <button class="image-btn" @click="ui.showSupportPerks = !ui.showSupportPerks">
          <img :class="ui.showSupportPerks ? 'image-perks selected' : 'image-perks'" src="@/assets/img/support-perks-btn.png" alt="" />
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { useStore } from "vuex";
import { defineComponent } from "vue";
import "./level-phase-containers.css";

export default defineComponent({
  name: "NavMenuRight",
  setup() {
    const store = useStore();
    return {
      state: store.state,
      ui: store.state.ui,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.perks-button-container {
  display: flex;
  justify-content: space-evenly;
}
.image-btn {
  width: 38px;
  height: 38px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: transparent;
  border: none;
}
.image-perks {
  height: 100%;
  width: 100%;
  -webkit-filter: grayscale(60%) drop-shadow(2px 2px 2px #222);
  filter: grayscale(60%) drop-shadow(2px 2px 2px #222);
}
.image-btn:focus {
  outline: none;
  box-shadow: none;
}
.image-perks:hover {
  outline: none;
  box-shadow: none;
  /* height: 115%;
  width: 115%; */
  -webkit-filter: contrast(100%) brightness(1.3) drop-shadow(1px 1px 1px #222);
  filter: contrast(100%) brightness(1.3) drop-shadow(1px 1px 1px #222);
  cursor: pointer;
}
.image-perks:active {
  padding-left: 10%;
  padding-top: 10%;
  height: 80%;
  width: 80%;
}
.selected {
  padding-left: 5%;
  padding-top: 5%;
  height: 90%;
  width: 90%;
  -webkit-filter: contrast(100%) brightness(1.2) drop-shadow(1px 1px 1px #222);
  filter: contrast(100%) brightness(1.2) drop-shadow(1px 1px 1px #222);
}
</style>