<template>
  <div v-if="state.ui.showPerks" class="lp-perks-container">
    <div class="panel-bg">
      <div v-if="state.build.buildInfo.currentPerk.available"
        class="lp-perks-title blink"
        :style="getPerkWarningStyle()">
          NEW PERK!
      </div>
      <div v-else class="lp-perks-title">PERKS</div>
      <div class="perk-wrapper" v-for="perk in Object.keys(Perks)" :key="perk">
        <button
          :class="getButtonStyle('Perks', perk)"
          @click="tagPerk('Perks', perk)"
          @mouseover="showInfo('Perks', perk)"
        >
          {{ Perks[perk].name + '' + (Perks[perk].taggedAt ? `(${Perks[perk].taggedAt})` : '') }}
        </button>
      </div>
    </div>
  </div>
  <div
    class="lp-perks-container"
    v-if="!state.ui.showPerks && state.ui.showSupportPerks"
  >
    <div class="panel-bg">
      <div class="lp-perks-title">SUPPORT PERKS</div>
      <div
        class="perk-wrapper"
        v-for="perk in Object.keys(SupportPerks)"
        :key="perk"
      >
        <button
          :class="getButtonStyle('SupportPerks', perk)"
          @click="tagPerk('SupportPerks', perk)"
          @mouseover="showInfo('SupportPerks', perk)"
        >
          {{ SupportPerks[perk].name }}
        </button>
      </div>
      <div class="lp-perks-title">MYSTERY BOOSTS</div>
      <div class="perk-wrapper">
        <button class="perk-button perk-not-available">Hub Chef (+2HP)</button>
      </div>
      <div class="perk-wrapper">
        <button class="perk-button perk-not-available">Father Tully (+2HP)</button>
      </div>
      <div class="perk-wrapper">
        <button class="perk-button perk-not-available">Mom (+5HP)</button>
      </div>
      <div class="perk-wrapper">
        <button class="perk-button perk-not-available">Sad Farmer (+15% CC)</button>
      </div>
      <!-- <div class="perk-wrapper">
        <button class="perk-button perk-not-available">If I add</button>
      </div>
      <div class="perk-wrapper">
        <button class="perk-button perk-not-available">some other</button>
      </div>
      <div class="perk-wrapper">
        <button class="perk-button perk-not-available">boosts here</button>
      </div>
      <div class="perk-wrapper">
        <button class="perk-button perk-not-available">it would be great</button>
      </div> -->
    </div>
  </div>
</template>

<script lang="ts">
import { useStore } from "vuex";
import { defineComponent, onMounted } from "vue";
import "./level-phase-containers.css";

export default defineComponent({
  name: "Perks",
  setup() {
    const store = useStore();
    const getButtonStyle = (category: string, perk: string) => {
      const perkData = store.state.build[category][perk];
      const currentPerk = store.state.build.buildInfo.currentPerk;
      if (perkData.tagged) {
        return "perk-button perk-tagged";
      } else if (perkData.available) {
        if (
          (category === "Perks" && currentPerk.available) ||
          category === "SupportPerks"
        ) {
          return "perk-button perk-available";
        } else {
          return "perk-button perk-not-available";
        }
      } else {
        return "perk-button perk-not-available";
      }
    };
    const tagPerk = (category: string, perk: string) => {
      store.dispatch("tagPerk", { category, perk });
    };
    const showInfo = (category: string, stat: string) => {
      store.dispatch("updateInfoPanel", { category, stat });
    };
    const getPerkWarningStyle = () => {
      const currentLevel = store.state.build.buildInfo.currentLevel
      const nextPerkAt = store.state.build.buildInfo.currentPerk.nextAtLevel
      const skilled = store.state.build.Traits.Skilled.tagged
      const diff = nextPerkAt - currentLevel

      if (diff === 1) {
        return 'color: red;'
      } else if (diff === 2) {
        return 'color: orange;'
      } else if (diff === 3) {
        return skilled ? 'color: yellow' : 'color: #85fc5a;'
      } else if (diff === 4) {
        return 'color: #85fc5a;'
      } else {
        return 'color: red;'
      }
    }
    onMounted(() => {
      store.dispatch("refreshStats");
    });
    return {
      state: store.state,
      Perks: store.state.build.Perks,
      SupportPerks: store.state.build.SupportPerks,
      getButtonStyle,
      tagPerk,
      showInfo,
      getPerkWarningStyle
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.perk-wrapper {
  position: relative;
  display: flex;
  justify-content: left;
}
.perk-button {
  position: relative;
  text-align: left;
  font-family: "Fixedsys Excelsior 3.01", Helvetica, Arial;
  font-size: 14px;
  color: #85fc5a;
  max-height: 13.6px;
  height: 13.6px;
  padding-left: 10px;
  background-color: transparent;
  border: none;
  margin-bottom: 1px;
}
.perk-available {
  color: #85fc5a;
}
.perk-not-available {
  color: rgb(182, 182, 182);
}
.perk-tagged {
  color: rgb(215, 255, 213);
}
.perk-button:focus {
  outline: none;
  box-shadow: none;
}
.perk-available:hover {
  outline: none;
  box-shadow: none;
  font-size: 16px;
  /* margin-bottom: 4px; */
  height: 120%;
  width: 115%;
  -webkit-filter: contrast(120%) brightness(2.2) drop-shadow(1px 1px 1px #222);
  filter: contrast(120%) brightness(2.2) drop-shadow(1px 1px 1px #222);
  cursor: pointer;
}
</style>
