<template>
  <div class="lp-combat-implants-container">
    <div class="panel-bg">
      <div class="lp-combat-implants-wrapper">
        <div class="lp-combat-implants-title">COMBAT IMPLANTS</div>
      </div>
      <CombatImplants />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useStore } from "vuex";
import CombatImplants from "./CombatImplants.vue";
import "./level-phase-containers.css";

export default defineComponent({
  name: "Combat Implants",
  components: {
    CombatImplants,
  },
  setup() {
    const store = useStore();
    return {
      state: store.state,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.lp-combat-implants-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.lp-combat-implants-title {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #dbdb34;
  -webkit-text-stroke: 1px black;
  padding: 0;
}
</style>
