<template>
  <div class="select-skill-container">
    <div class="select-skill-skillname">{{ getSelectedSkillData().name }}</div>
    <div class="select-skill-tagged" v-if="getSelectedSkillData().key">
      {{ getSelectedSkillData().tagged ? "tagged" : "" }}
    </div>
    <div>
      <div class="select-skill-plus" @click="modifySkill('-')" v-if="getSelectedSkillData().key">--</div>
      <div class="select-skill-skillpercent" v-if="getSelectedSkillData().key">
        {{
          getSelectedSkillData().value ? getSelectedSkillData().value + "%" : ""
        }}
      </div>
      <div class="select-skill-plus" @click="modifySkill('+')" v-if="getSelectedSkillData().key">+</div>
      <div class="select-skill-progress" v-if="getSelectedSkillData().key" @click="changeProgressBarStyle()">
        <div class="progress-div" :style="getSelectedSkillData().progressStyle">
          <div class="progress-div-text">{{ getSelectedSkillData().progressText }}</div>
        </div>
      </div>
      <div class="select-skill-multiplier-button-container" v-if="getSelectedSkillData().key">
        <div
          class="select-skill-multiplier-button"
          :style="
            multiplier === 1 ? 'background-color: rgb(174, 180, 176);' : ''
          "
          @click="toggleMultiplier(1)"
        >
          x1
        </div>
        <div
          class="select-skill-multiplier-button"
          :style="
            multiplier === 5 ? 'background-color: rgb(174, 180, 176);' : ''
          "
          @click="toggleMultiplier(5)"
        >
          x5
        </div>
        <div
          class="select-skill-multiplier-button"
          :style="
            multiplier === 10 ? 'background-color: rgb(174, 180, 176);' : ''
          "
          @click="toggleMultiplier(10)"
        >
          x10
        </div>
        <div
          class="select-skill-multiplier-button"
          :style="
            multiplier === 100 ? 'background-color: rgb(174, 180, 176);' : ''
          "
          @click="toggleMultiplier(100)"
        >
          x100
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { ref } from "vue";
import { useStore } from "vuex";
export default {
  name: "Select Skill",
  setup() {
    const store = useStore();
    const multiplier = ref(1);
    const toggleMultiplier = (value) => {
      multiplier.value = value;
    };
    const getSelectedSkillData = () => {
      const skillData = {
        name: "Select Skill",
        key: "",
        value: 0,
        maxValue: 0,
        tagged: false,
        progress: 0,
        progressStyle: '',
        progressText: ''
      };
      Object.keys(store.state.build.Skills).forEach((skill) => {
        if (store.state.build.Skills[skill].selected) {
          skillData.name = store.state.build.Skills[skill].name;
          skillData.key = skill;
          skillData.value = store.state.build.Skills[skill].value;
          skillData.maxValue = store.state.build.Skills[skill].maxValue;
          skillData.tagged = store.state.build.Skills[skill].tagged;
        }
      });
      skillData.progress = Math.floor((skillData.value / skillData.maxValue) * 100)
      if (skillData.progress < skillData.maxValue) {
        skillData.progressStyle = `width: ${skillData.progress}%;`
      } else {
        skillData.progressStyle = `width: ${skillData.progress}%; border: none;`
      }
      const activeStyle = store.state.ui.progressBarStyle.activeStyle
      switch (activeStyle) {
        case 'default':
          skillData.progressText = `${skillData.value} / ${skillData.maxValue} ( ${skillData.progress}% )`
          break
        case 'currentAndMax':
          skillData.progressText = `${skillData.value} / ${skillData.maxValue}`
          break
        case 'percent':
          skillData.progressText = `${skillData.progress}%`
          break
        case 'none':
          break
      }
      return skillData;
    };
    const modifySkill = (modifier) => {
      const data = {
        skill: getSelectedSkillData().key,
        modifier,
        multiplier: multiplier.value,
      };
      store.dispatch("modifySkill", data);
    };
    const changeProgressBarStyle = () => {
      store.dispatch('changeProgressBarStyle')
    }
    return {
      multiplier,
      toggleMultiplier,
      getSelectedSkillData,
      modifySkill,
      changeProgressBarStyle
    };
  },
};
</script>
<style scoped>
.select-skill-container {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  background-color: rgba(192, 188, 188, 0.219);
  border: 1px solid black;
  border-radius: 5px;
  height: 100px;
  width: 95%;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}
.select-skill-skillname {
  display: inline-block;
  width: 100%;
  height: 14px;
  font-size: 16px;
  text-shadow: 2px 2px 3px rgb(44, 43, 43);
  /* margin-top: 2px; */
  margin-bottom: 3px;
  color: #f9ffb6;
}
.select-skill-tagged {
  font-size: 12px;
  color: khaki;
  max-height: 12px;
  min-height: 12px;
  margin-bottom: 5px;
}
.select-skill-minus,
.select-skill-plus {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 25px;
  /* height: 26px; */
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
  font-size: 22px;
  font-weight: 700;
  color: rgb(107, 179, 111);
  text-shadow: 1px 1px rgb(48, 41, 41);
  /* -webkit-text-stroke: 1px black; */
  /* border: 1px solid black; */
  /* border-radius: 50%; */
}
.select-skill-progress {
  position: relative;
  display: block;
  margin: auto;
  width: 95%;
  height: 16px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
  background-color: rgba(81, 134, 81, 0.158);
}
.progress-div {
  max-width: 135px;
  background-color: rgba(80, 168, 80, 0.747);
  height: 14px;
  border: 1px solid rgba(233, 233, 233, 0.747);
  border-radius: 2px 2px 2px 2px;
}
.progress-div-text {
  position: absolute;
  top: 1px;
  left: 23%;
  width: 75px;
  right: auto;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
  font-size: 11px;
  color: white;
}
.progress-div-text:hover {
  cursor: pointer;
}
.select-skill-multiplier-button {
  display: inline-block;
  cursor: pointer;
  width: 22%;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  border: 1px solid black;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
}
.select-skill-multiplier-button:hover {
  background-color: rgb(174, 180, 176);
}
.select-skill-multiplier-button:first-child {
  border-radius: 4px 0px 0px 4px;
}
.select-skill-multiplier-button:last-child {
  border-radius: 0px 4px 4px 0px;
}
.select-skill-skillpercent {
  display: inline-block;
  color: white;
  width: 60px;
  font-size: 22px;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
}
</style>