<template>
  <div class="lp-skills-container">
    <div class="panel-bg">
      <div class="lp-skills-title">SKILLS</div>
      <div v-for="skill in Object.keys(Skills)" :key="skill">
        <div
          class="skill-wrapper"
          :style="
            skill === 'Scavenging'
              ? 'color: #b5b7b5;'
              : state.build.Skills[skill].tagged
              ? 'color: #f1fff3;'
              : state.build.Skills[skill].selected
              ? 'color: #f9ffb6;'
              : ''
          "
        >
          <div class="skill-name">
            <div class="skill-name-clickable" style="width: fit-content;"
              @mouseover="showInfo('Skills', skill)"
              @click="selectSkill(skill)">
                {{ state.build.Skills[skill].name }}
            </div>
          </div>
          <div class="skill-value">{{ getSkillValue(skill) }}</div>
          <div class="skill-percent">%</div>
          <Selectbox
            :attribute="skill"
            :style="skill === 'Scavenging' ? 'opacity: 0;' : ''"
          />
        </div>
      </div>
      <!-- <Books /> -->
      <SkillsSubPanel />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted } from "vue";
import { useStore } from "vuex";
// import Checkbox from "@/components/desktop/subcomponents/Checkbox.vue";
import "./level-phase-containers.css";
// import Books from "@/components/desktop/level/Books.vue";
import SkillsSubPanel from "./SkillsSubPanel.vue";
import Selectbox from "../subcomponents/Selectbox.vue";

export default defineComponent({
  name: "Skills",
  components: {
    // Checkbox,
    // Books,
    SkillsSubPanel,
    Selectbox,
  },

  setup() {
    const store = useStore();
    const showInfo = (category: string, stat: string) => {
      store.dispatch("updateInfoPanel", { category, stat });
    };
    const selectSkill = (skill: string) => {
      store.dispatch('selectSkill', skill)
    }
    const getSkillValue = (skill) => {
      return store.state.build.Skills[skill].value
    }
    onMounted(() => {
      store.dispatch("refreshStats");
    });
    return {
      state: store.state,
      Skills: store.state.build.Skills,
      showInfo,
      selectSkill,
      getSkillValue
    };
  },
});
</script>

<style scoped>
.skill-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  max-height: 13.6px;
}
.skill-name {
  position: relative;
  width: 70%;
  text-align: left;
  padding-left: 10px;
}
.skill-name-clickable:hover {
  -webkit-filter: contrast(120%) brightness(2.2) drop-shadow(1px 1px 1px #222);
  filter: contrast(120%) brightness(2.2) drop-shadow(1px 1px 1px #222);
  cursor: pointer;
}
.skill-value {
  position: relative;
  width: 20%;
  text-align: right;
  padding-right: 2px;
  letter-spacing: normal;
}
.skill-percent {
  position: relative;
  margin-right: 4px;
}
</style>
