<template>
  <div class="lp-special-container">
    <div class="panel-bg">
      <div class="lp-special-title">SPECIAL</div>
      <div class="special-stat-wrapper">
        <div class="special-stat-headers">
          <div class="special-stat-headers-base">BASE</div>
          <div class="special-stat-headers-drugs">DRUGS</div>
        </div>
      </div>
      <div v-for="stat in Object.keys(SPECIAL)" :key="stat">
        <div class="special-stat-wrapper" v-if="stat !== 'PL'">
          <div class="special-stat-name" @click="showInfo('SPECIAL', stat)">
            {{ SPECIAL[stat].name }}
          </div>
          <button
            class="implant-btn"
            @click="implantSPECIAL(stat)"
            :disabled="!isImplantAvailable(stat)"
          >
            <img
              @mouseover="showInfo('Implants', stat)"
              :class="isImplantAvailable(stat) ? 'implant-btn-image available' : isImplanted(stat) ? 'implant-btn-image implanted' : 'implant-btn-image disabled'"
              src="@/assets/img/implants/special-implant.png"
            />
          </button>
          <div class="special-stat-value" :style="state.build.SPECIAL[stat].implanted ? 'color: #d7ffa6;' : ''">{{ SPECIAL[stat].value }}</div>
          <div class="special-stat-value" :style="getColor(stat)">{{ state.build.SPECIAL[stat].onDrugs }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted } from "vue";
import { useStore } from "vuex";
import "./level-phase-containers.css";

export default defineComponent({
  name: "SPECIAL",
  setup() {
    const store = useStore();
    const getColor = (stat: string) => {
      const diff = store.state.build.SPECIAL[stat].onDrugs - store.state.build.SPECIAL[stat].value
      if (!diff) {
        return ''
      } else if (diff > 0) {
        return 'color: #d7ffa6;'
      } else {
        return 'color: #ffeab7;'
      }
    }
    const showInfo = (category: string, stat: string) => {
      store.dispatch("updateInfoPanel", { category, stat });
    };
    const isImplantAvailable = (stat: string) => {
      return store.state.build.SPECIAL[stat].value < 10 &&
        !store.state.build.SPECIAL[stat].implanted &&
        store.state.build.buildInfo.currentLevel >= 30
    }
    const isImplanted = (stat: string) => {
      return store.state.build.SPECIAL[stat].implanted
    }
    const implantSPECIAL = (stat: string) => {
      store.dispatch('implantSPECIAL', { stat })
    }
    onMounted(() => {
      store.dispatch("refreshStats");
    });
    return {
      state: store.state,
      SPECIAL: store.state.build.SPECIAL,
      getColor,
      showInfo,
      isImplantAvailable,
      isImplanted,
      implantSPECIAL
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.special-stat-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.special-stat-headers {
  width: 100%;
  max-height: 12px;
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
  text-shadow: 1px 1px rgb(48, 41, 41);
  color: #85fc5a;
  opacity: 0.7;
  text-align: right;
  padding: 0;
  margin: 0;
}
.special-stat-headers-base,
.special-stat-headers-drugs {
  display: inline-block;
  width: 25%;
  text-align: center;
}
.special-stat-name {
  font-size: 28px;
  color: #dbdb34;
  -webkit-text-stroke: 1px black;
  width: 30%;
}

.special-stat-value {
  width: 25%;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
  font-size: 28px;
  color: rgb(236, 236, 236);
  -webkit-text-stroke: 1px black;
}
.implant-btn {
  cursor: default;
  position: relative;
  float: left;
  width: 38px;
  height: 30px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 3px;
  background-color: transparent;
  border: none;
}
.implant-btn-image {
  height: 80%;
  width: 80%;
  -webkit-filter: grayscale(70%) drop-shadow(2px 2px 2px #222);
  filter: grayscale(70%) drop-shadow(2px 2px 2px #222);
}
.available {
  cursor: pointer;
  -webkit-filter: grayscale(10%) drop-shadow(2px 2px 2px #222);
  filter: grayscale(10%) drop-shadow(2px 2px 2px #222);
}
.implanted {
  -webkit-filter: contrast(120%) brightness(1.5) drop-shadow(1px 1px 5px #222);
  filter: contrast(120%) brightness(1.5) drop-shadow(1px 1px 5px #222);
}
.disabled {
  opacity: 0.5;
  cursor: default;
}
.available:hover {
  height: 90%;
  width: 90%;
  -webkit-filter: contrast(140%) brightness(2) drop-shadow(1px 1px 1px #222);
  filter: contrast(140%) brightness(2) drop-shadow(1px 1px 1px #222);
}
</style>
