<template>
  <div
    v-if="state.ui.showPerks && state.ui.showSupportPerks"
    class="lp-support-perks-container"
  >
    <div class="panel-bg">
      <div class="lp-perks-title">SUPPORT PERKS</div>
      <div
        class="perk-wrapper"
        v-for="perk in Object.keys(SupportPerks)"
        :key="perk"
      >
        <button
          :class="getButtonStyle('SupportPerks', perk)"
          @click="tagPerk('SupportPerks', perk)"
          @mouseover="showInfo('SupportPerks', perk)"
        >
          {{ SupportPerks[perk].name + '' + (SupportPerks[perk].taggedAt ? `(${SupportPerks[perk].taggedAt})` : '') }}
        </button>
      </div>
      <div class="lp-perks-title">MYSTERY BOOSTS</div>
      <div class="perk-wrapper">
        <button class="perk-button perk-not-available">Hub Chef (+2HP)</button>
      </div>
      <div class="perk-wrapper">
        <button class="perk-button perk-not-available">Father Tully (+2HP)</button>
      </div>
      <div class="perk-wrapper">
        <button class="perk-button perk-not-available">Mom (+5HP)</button>
      </div>
      <div class="perk-wrapper">
        <button class="perk-button perk-not-available">Sad Farmer (+15% CC)</button>
      </div>
      <!-- <div class="perk-wrapper">
        <button class="perk-button perk-not-available">If I add</button>
      </div>
      <div class="perk-wrapper">
        <button class="perk-button perk-not-available">some other</button>
      </div>
      <div class="perk-wrapper">
        <button class="perk-button perk-not-available">boosts here</button>
      </div>
      <div class="perk-wrapper">
        <button class="perk-button perk-not-available">it would be great</button>
      </div> -->
    </div>
  </div>
</template>

<script lang="ts">
import { useStore } from "vuex";
import { defineComponent, onMounted } from "vue";
import "./level-phase-containers.css";

export default defineComponent({
  name: "Support Perks",
  setup() {
    const store = useStore();
    const getButtonStyle = (category: string, perk: string) => {
      const perkData = store.state.build[category][perk];
      if (perkData.tagged) {
        return "perk-button perk-tagged";
      } else if (perkData.available) {
        return "perk-button perk-available";
      } else {
        return "perk-button perk-not-available";
      }
    };
    const tagPerk = (category: string, perk: string): void => {
      store.dispatch("tagPerk", { category, perk });
    };
    const showInfo = (category: string, stat: string) => {
      store.dispatch("updateInfoPanel", { category, stat });
    };
    onMounted(() => {
      store.dispatch("refreshStats");
    });
    return {
      state: store.state,
      SupportPerks: store.state.build.SupportPerks,
      getButtonStyle,
      tagPerk,
      showInfo,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.perk-wrapper {
  position: relative;
  display: flex;
  justify-content: left;
}
.perk-button {
  position: relative;
  text-align: left;
  font-family: "Fixedsys Excelsior 3.01", Helvetica, Arial;
  font-size: 14px;
  color: #85fc5a;
  max-height: 13.6px;
  height: 13.6px;
  padding-left: 10px;
  background-color: transparent;
  margin-bottom: 1px;
  border: none;
}
.perk-available {
  color: #85fc5a;
}
.perk-not-available {
  color: rgb(182, 182, 182);
}
.perk-tagged {
  color: rgb(215, 255, 213);
}
.perk-button:focus {
  outline: none;
  box-shadow: none;
}
.perk-available:hover {
  outline: none;
  box-shadow: none;
  font-size: 16px;
  height: 120%;
  width: 115%;
  -webkit-filter: contrast(120%) brightness(2.2) drop-shadow(1px 1px 1px #222);
  filter: contrast(120%) brightness(2.2) drop-shadow(1px 1px 1px #222);
  cursor: pointer;
}
</style>
