<template>
  <div class="view-wrapper">
    <div class="build-state-container noselect" id="build-state-container">
      <Header />
      <Special />
      <Pool />
      <CharStats />
      <Skills />
      <Traits />
      <InfoPanel />
      <Footer />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import "./home.css";
import Special from "@/components/desktop/build/Special.vue"; // @ is an alias to /src
import CharStats from "@/components/desktop/build/CharStats.vue";
import Skills from "@/components/desktop/build/Skills.vue";
import Traits from "@/components/desktop/build/Traits.vue";
import InfoPanel from "@/components/desktop/build/InfoPanel.vue";
import Pool from "@/components/desktop/build/Pool.vue";
import Footer from "@/components/desktop/build/Footer.vue";
import Header from "@/components/desktop/build/Header.vue";

export default defineComponent({
  name: "Home",
  components: {
    Special,
    CharStats,
    Skills,
    Traits,
    InfoPanel,
    Pool,
    Footer,
    Header,
  },
});
</script>
