<template>
  <div class="view-wrapper">
    <div class="level-state-container noselect" id="level-state-container">
      <NavMenuLeft />
      <Header />
      <NavMenuRight />
      <Special />
      <Pool />
      <CharStats />
      <Skills />
      <Actions />
      <Perks />
      <SupportPerks />
      <ControlPanel />
      <InfoPanel />
      <!-- <Footer /> -->
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import "./level.css";
import Special from "@/components/desktop/level/Special.vue"; // @ is an alias to /src
import CharStats from "@/components/desktop/level/CharStats.vue";
import Skills from "@/components/desktop/level/Skills.vue";
import Perks from "@/components/desktop/level/Perks.vue";
import SupportPerks from "@/components/desktop/level/SupportPerks.vue";
import ControlPanel from "@/components/desktop/level/ControlPanel.vue";
import InfoPanel from "@/components/desktop/level/InfoPanel.vue";
import Pool from "@/components/desktop/level/Pool.vue";
// import Footer from "@/components/desktop/level/Footer.vue";
import Header from "@/components/desktop/level/Header.vue";
import Actions from "@/components/desktop/level/Actions.vue";
import NavMenuLeft from "@/components/desktop/level/NavMenuLeft.vue";
import NavMenuRight from "@/components/desktop/level/NavMenuRight.vue";

export default defineComponent({
  name: "Home",
  components: {
    NavMenuLeft,
    Header,
    NavMenuRight,
    Special,
    CharStats,
    Skills,
    Perks,
    SupportPerks,
    ControlPanel,
    InfoPanel,
    Pool,
    Actions
  }
});
</script>
