@font-face {
  font-family: 'Fixedsys Excelsior 3.01';
  font-style: normal;
  font-weight: normal;
  src: local('Fixedsys Excelsior 3.01'), url('../../assets/fonts/FSEX300.woff') format('woff');
}

@font-face {
  font-family: 'Gothic821 Cn BT';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/fallout.ttf');
}

.level-state-container {
  margin: 0px;
  padding: 15px;
  /* background-color: rgba(47, 68, 56, 0.623); */
  /* background-image: url('../assets/img/vault-boy-background.jpg'); */
  /* background-image: url('../assets/img/vault-boy-wallpaper-2.jpg'); */
  /* background-image: url('../assets/img/bg/1.png'); */
  /* background-image: url('../assets/img/bg/2.png'); */
  /* background-image: url('../assets/img/bg/3.jpg'); */
  /* background-image: url('../assets/img/bg/4.jpg'); */
  /* background-image: url('../assets/img/bg/5.jpg'); */
  /* background-image: url('../assets/img/bg/6.jpg'); */
  /* background-image: url('../assets/img/bg/7.jpg'); */
  /* background-image: url('../assets/img/bg/8.jpg'); */
  /* background-image: url('../assets/img/bg/9.jpg'); */
  /* background-image: url('../assets/img/bg/10.jpg'); */
  /* background-image: url('../assets/img/bg/11.jpg'); */
  /* background-image: url('../assets/img/bg/12.jpg'); */
  /* background-repeat: round; */
  /* background-position: ; */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  /* background-size: auto; */
  /* width: 100%; */
  /* min-width: 1315px; */
  display: grid;
  grid-template-columns: 200px 180px 100px 90px 90px 180px 190px 190px;
  grid-template-rows: auto;
  grid-template-areas: "navmenu-left header header header header navmenu-right . .""special char-stats char-stats skills skills actions perks support-perks""special char-stats char-stats skills skills actions perks support-perks""combat-implants char-stats char-stats skills skills actions perks support-perks""control-panel char-stats char-stats info-panel info-panel info-panel perks support-perks""control-panel char-stats char-stats info-panel info-panel info-panel perks support-perks";
  column-gap: 10px;
  row-gap: 10px;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.blink {
  animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


/* .highlight {
  animation: highlight 3s;
  -webkit-animation: highlight 3s;
}
@keyframes highlight {
  0% {
    opacity: 1;
    background-color: white;
  }
  50% {
    opacity: 0;
    background-color: transparent;
  }
}
@-webkit-keyframes highlight {
  0% {
    opacity: 1;
    background-color: white;
  }
  50% {
    opacity: 0;
    background-color: transparent;

  }
} */