<template>
  <div class="holder" @click.self="state.ui.activePopup = ''">
    <component :is="state.ui.activePopup"></component>
  </div>
</template>

<script>
import { useStore } from "vuex"
import { defineComponent } from "vue"
import BuildInfoPopup from '@/components/desktop/popups/BuildInfoPopup.vue'
export default defineComponent({
 name: "Popup Holder",
 components: {
   BuildInfoPopup
 },
 setup() {
   const store = useStore()
      
    return {
      state: store.state,
   }
 },
})
</script>

<style scoped>
.holder {
  position: absolute;
  z-index: 9998;
  top: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  color: wheat;
  background-color: rgba(66, 63, 63, 0.89);
}
</style>