<template>
  <div class="popup-container">
    <div class="panel-bg">
      <div class="inner-container scrollable">
        <div class="text">
          <h2>Help appreciated!</h2>
          <p>Thanks for reading this.</p>
          <p>
            The planner you're currently seeing is under development. Some of the features are not fully implemented yet and the rest need to be properly tested.
          </p>
          <h2>How can you help?</h2>
          <p>
            Follow these simple steps below:
            <br>
            1. Recreate your builds in the planner and compare the results
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex"
import { defineComponent } from "vue"
export default defineComponent({
 name: "BuildInfo Popup",
 components: {},
 setup() {
   const store = useStore()
      
    return {
      state: store.state,
   }
 },
})
</script>

<style scoped>
.popup-container {
  position: relative;
  margin: auto;
  margin-top: 6%;
  width: 35%;
  height: 70%;
  color: rgb(0, 0, 0);
  border: 2px ridge white;
  border-radius: 5px;
  background-color: rgba(117, 145, 103, 0.89);
}
.inner-container {
  overflow-y: scroll;
  height: inherit;
  position: relative;
}
.text {
  padding: 15px;
  text-align: justify;
}
.scrollable {
  /* overflow-y: scroll; */
  scrollbar-width: thin;
  scrollbar-color: rgb(101, 153, 103) transparent;
  /* position: relative;
  max-height: 80%; */
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(101, 153, 103);
  border: 1px transparent;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(179, 230, 172);
}
</style>