<template>
  <div class="m-build-state-container">
    <MHeader />
    <MSpecial />
    <!-- <MPool /> -->
    <MSkillsMinified v-if="state.system.screen.innerWidth < 400" />
    <MSkills v-else />
    <MCharStats />
    <MTraits />
    <MFooter />
      <!-- <MInfoPanel /> -->
    <!-- <div style="width: 90%; display: inline-block; margin: auto;">
      <MHeader />
    </div>
    <div style="width: 45%; display: inline-block; margin: auto;">
      <MSpecial />
      <MPool />
    </div>
    <div style="width: 45%; display: inline-block; margin: auto;">
      <MSkills />
    </div>
    <div style="width: 40%; display: inline-block; margin: auto;">
      <MCharStats />
    </div>
    <div style="width: 55%; display: inline-block; margin: auto;">
      <MTraits />
    </div> -->
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted } from "vue";
import "./mhome.css";
import MSpecial from "@/components/mobile/build/MSpecial.vue"; // @ is an alias to /src
import MCharStats from "@/components/mobile/build/MCharStats.vue";
import MSkills from "@/components/mobile/build/MSkills.vue";
import MSkillsMinified from "@/components/mobile/build/MSkillsMinified.vue";
import MTraits from "@/components/mobile/build/MTraits.vue";
// import MInfoPanel from "@/components/mobile/build/MInfoPanel.vue";
// import MPool from "@/components/mobile/build/MPool.vue";
import MFooter from "@/components/mobile/build/MFooter.vue";
import MHeader from "@/components/mobile/build/MHeader.vue";
import { useStore } from "vuex";

export default defineComponent({
  name: "Home",
  components: {
    MSpecial,
    MCharStats,
    MSkills,
    MSkillsMinified,
    MTraits,
    // MInfoPanel,
    // MPool,
    MFooter,
    MHeader,
  },
  setup() {
    const store = useStore();
    onMounted(() => {
      const el = document.getElementById('.test');
      // console.log(el)
    })
    return {
      state: store.state,
    };
  }
});
</script>
