@font-face {
  font-family: 'Fixedsys Excelsior 3.01';
  font-style: normal;
  font-weight: normal;
  src: local('Fixedsys Excelsior 3.01'), url('../../assets/fonts/FSEX300.woff') format('woff');
}

@font-face {
  font-family: 'Gothic821 Cn BT';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/fallout.ttf');
}
/* .m-build-state-container { */
  /* margin: 3% 3% 3% 3%; */
  /* border: 1px solid green; */
  /* padding: 30px; */
  /* background-color: rgba(47, 68, 56, 0.623); */
  /* background-image: url('../assets/img/vault-boy-background.jpg'); */
  /* background-image: url('../assets/img/vault-boy-wallpaper-2.jpg'); */
  /* background-image: url('../assets/img/bg/1.png'); */
  /* background-image: url('../assets/img/bg/2.png'); */
  /* background-image: url('../assets/img/bg/3.jpg'); */
  /* background-image: url('../assets/img/bg/4.jpg'); */
  /* background-image: url('../assets/img/bg/5.jpg'); */
  /* background-image: url('../assets/img/bg/6.jpg'); */
  /* background-image: url('../assets/img/bg/7.jpg'); */
  /* background-image: url('../assets/img/bg/8.jpg'); */
  /* background-image: url('../assets/img/bg/9.jpg'); */
  /* background-image: url('../assets/img/bg/10.jpg'); */
  /* background-image: url('../assets/img/bg/11.jpg'); */
  /* background-image: url('../assets/img/bg/12.jpg'); */
  /* background-repeat: round; */
  /* background-position: ; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  /* background-size: auto; */
  /* width: 100%; */
  /* min-width: 740px; */
  /* min-width: 320px;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header"
    "special skills"
    "info-panel info-panel"
    "traits traits"
    "footer footer";
  column-gap: 4%;
  row-gap: 1%; */
/* } */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}