<template>
  <div
    class="table-wrapper"
  >
    <table>
      <tr>
        <th scope="row" class="no-border">Action Points</th>
        <td>{{ Math.round(getStatData('ActionPoints').value) }}</td>
        <th scope="row" class="no-border">Melee Damage</th>
        <td>{{ Math.round(getStatData('MeleeDamage').value) }}</td>
      </tr>
      <tr>
        <th scope="row" class="no-border">Crit Chance</th>
        <td>{{ Math.round(getStatData('CriticalChance').value) }}</td>
        <th scope="row" class="no-border">Carry Weight</th>
        <td>{{ Math.round(getStatData('CarryWeight').value) }}</td>
      </tr>
      <tr>
        <th scope="row" class="no-border">Sequence</th>
        <td>{{ Math.round(getStatData('Sequence').value) }}</td>
        <th scope="row" class="no-border">Healing Rate</th>
        <td>{{ Math.round(getStatData('HealingRate').value) }}</td>
      </tr>
      <tr>
        <th scope="row" class="no-border">Party Points</th>
        <td>{{ Math.round(getStatData('PartyPoints').value) }}</td>
        <th scope="row" class="no-border">Maximum Perks</th>
        <td>{{ Math.round(getStatData('MaximumPerks').value) }}</td>
      </tr>
      <tr>
        <th scope="row" class="no-border">SP per Level</th>
        <td>{{ Math.round(getStatData('SkillPointsPerLevel').value) }}</td>
        <th scope="row" class="no-border">HP per Level</th>
        <td>{{ Math.round(getStatData('HitPointsPerLevel').value) }}</td>
      </tr>
    </table>
  </div>
</template>

<script lang='ts'>
import { useStore } from "vuex"
import { defineComponent } from "vue"
export default defineComponent({
 name: "CharacterTable",
 components: {},
 setup() {
   const store = useStore()
    const getStatData = (stat: string) => {
        return {
          name: store.state.build.CharStats[stat].name,
          value: store.state.build.CharStats[stat].value,
        };
      };
    return {
      state: store.state,
      getStatData
   }
 },
})
</script>

<style scoped>
.table-wrapper {
  width: 100%;
  position: relative;
}
table {
  background-color: rgba(192, 188, 188, 0.219);
  width: 95%;
  margin: auto;
  row-gap: 0px;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.245);
  border-radius: 3px;
}
td {
  border: 1px solid rgba(255, 255, 255, 0.285);
  border-radius: 3px;
  font-weight: normal;
  color: white;
}
th {
  background: transparent;
  font-weight: normal;
}
tr:nth-child(2n + 2) {
  background: rgba(45, 54, 38, 0.37);
}
.no-border {
  border: 1px transparent;
  border-radius: 3px;
}
</style>