<template>
  <div class="lp-char-stats-title">{{ 'EQUIP ' + (gearSlot === 'head' ? 'HELMET' : 'ARMOR') }}</div>
          <table class="temp-gear-table">
            <tr>
              <td 
                v-for="(item, i) of Object.keys(items)"
                :key="items[item].name"
                :title="items[item].name"
                :style="`text-align: ${i % 2 ? 'right' : 'left'}`"
                @click="equipItem(items[item].slot, item)"
                :class="'single-gear-item' + (state.build.EquippedGear[gearSlot] && state.build.EquippedGear[gearSlot].image === item ? ' equipped-slot' : '')"
              >
                <div class="gear-image-container">
                  <img
                    :src="getGearImage(items[item].image)" alt=""
                    class="gear-image"
                  >
                </div>
                <div class="gear-text-container" :style="i % 2 ? 'left: 2px;' : 'right: 2px;'">
                  {{ items[item].name }}
                </div>
              </td>
            </tr>
          </table>
</template>

<script lang="ts">
import { useStore } from "vuex"
import { defineComponent } from "vue"
import { Inventory } from "@/data/items/gear/Inventory";
export default defineComponent({
  name: "Equip Panel",
  props: ['gearSlot'],
  emits: ["equip"],
  components: {},
  setup(props, context) {
    const store = useStore()
    const getGearImage = (gear: string) => {
      let img;
      try {
        img = require(`@/assets/img/gear/${props.gearSlot}/${gear}.gif`);
      } catch (e) {
        img = require("@/assets/img/gear/body/VaultSuit.gif");
      }
      return img;
    };
    const equipItem = (slot: string, key: string) => {
      const data = {
        slot,
        key
      }
      store.dispatch('equipItem', data)
      context.emit('equip')
    }
    return {
      state: store.state,
      getGearImage,
      equipItem,
      items: Inventory[props.gearSlot]
    }
  },
})
</script>

<style scoped>
.single-gear-item {
    position: relative;
    display: inline-block;
    height: 38px;
    width: 47%;
    text-overflow: clip;
    margin: 1px;
    border: 1px solid rgba(255, 255, 255, 0.285);
    border-radius: 3px;
    font-weight: normal;
    color: white;
  }
  .single-gear-item:hover {
    border-radius: 3px;
    background-color: rgba(163, 228, 72, 0.299);
    cursor: pointer;
  }
  .gear-image {
    margin-top: 2px;
    width: 36px;
    height: 36px;
    object-fit: contain;
  }
  .temp-gear-table {
  background-color: rgba(192, 188, 188, 0.219);
  width: 95%;
  margin: auto;
  row-gap: 0px;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.245);
  border-radius: 3px;
  }
  .gear-text-container {
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width: 65%;
    height: 100%;
    font-size: 12px;
  }
  .equipped-slot {
    /* background-color: red; */
    background-color: rgba(52, 88, 2, 0.394);
  }
</style>