<template>
  <div
    class="table-wrapper"
  >
    <table>
      <tr>
        <td title="Soon..." class="weapon-slot disabled">{{ getEquippedGearData.w1 ? getEquippedGearData.w1.name : 'Weapon Slot 1 [DISABLED]' }}</td>
        <td title="Soon..." class="weapon-slot disabled">{{ getEquippedGearData.w2 ? getEquippedGearData.w2.name : 'Weapon Slot 2 [DISABLED]' }}</td>
      </tr>
      <tr>
        <td 
          title="Equip/unequip gear"
          class="head-slot"
          @click="$emit('equip', 'head')"
        >
          <div class="gear-image-container">
            <img
              :src="getGearImage('head', getEquippedGearData.head.image)" alt=""
              class="gear-image fix-left"
            >
          </div>
          <div class="gear-text-container fix-right">
            {{ getEquippedGearData.head.name }}
          </div>
        </td>
        <td 
          title="Equip/unequip gear"
          class="body-slot"
          @click="$emit('equip', 'body')"
        >
          <div class="gear-image-container">
            <img
              :src="getGearImage('body', getEquippedGearData.body.image)" alt=""
              class="gear-image fix-right"
            >
          </div>
          <div class="gear-text-container fix-left">
            {{ getEquippedGearData.body.name }}
          </div>
        </td>
      </tr>
    </table>
  </div>
</template>

<script lang='ts'>
import { useStore } from "vuex"
import { computed, defineComponent } from "vue"
export default defineComponent({
 name: "CharacterTable",
 emits: ["equip"],
 components: {},
 setup() {
   const store = useStore()
    const getStatData = (stat: string) => {
      return {
        name: store.state.build.CharStats[stat].name,
        value: store.state.build.CharStats[stat].value,
      };
    };
    const getEquippedGearData = computed(() => {
     return {
       w1: null,
       w2: null,
       head: store.state.build.EquippedGear.head ? store.state.build.EquippedGear.head : null,
       body: store.state.build.EquippedGear.body ? store.state.build.EquippedGear.body : null
     }
   })
   const getGearImage = (slot: string, gear: string) => {
      let img;
      try {
        img = require(`@/assets/img/gear/${slot}/${gear}.gif`);
      } catch (e) {
        img = require("@/assets/img/gear/body/VaultSuit.gif");
      }
      return img;
    };
    return {
      state: store.state,
      getStatData,
      getEquippedGearData,
      getGearImage
   }
 },
})
</script>

<style scoped>
.table-wrapper {
  width: 100%;
  position: relative;
}
table {
  background-color: rgba(192, 188, 188, 0.219);
  width: 95%;
  margin: auto;
  row-gap: 0px;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.245);
  border-radius: 3px;
}
td {
  border: 1px solid rgba(255, 255, 255, 0.285);
  border-radius: 3px;
  font-weight: normal;
  /* color: white; */
}
.head-slot:hover, .body-slot:hover {
  background-color: rgba(163, 228, 72, 0.299);
  cursor: pointer;
}
tr {
  height: 45px;
}
th {
  background: transparent;
  font-weight: normal;
  /* width: 15%; */
}
tr:nth-child(2n + 2) {
  background: rgba(45, 54, 38, 0.37);
}
.disabled {
  color: rgb(214, 213, 213);
}
.no-border {
  border: 1px transparent;
  border-radius: 3px;
}
.body-slot, .head-slot {
  position: relative;
}
.gear-image {
  position: absolute;
  top: 2px;
  margin-top: 2px;
  width: 30%;
  height: 36px;
  object-fit: contain;
}
.gear-text-container {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  width: 60%;
  height: 100%;
  line-height: 14px;
  font-size: 14px;
}
.fix-left {
  left: 4px;
}
.fix-right {
  right: 4px;
}
</style>