<template>
  <div id="app-container">
    <Home v-if="state.build.buildInfo.phase === 'create'" />
    <Level v-if="state.build.buildInfo.phase === 'level'" />
  </div>
</template>
<script lang="ts">
import { useStore } from "vuex";
import { defineComponent, onMounted, onUpdated, ref } from "vue";
import Home from "./views/desktop/Home.vue";
import Level from "./views/desktop/Level.vue";
import LS from './utils/localStorageHandler'

export default defineComponent({
  name: "App",
  components: {
    Home,
    Level,
  },
  setup() {
    const store = useStore();

    // Wait until innerheight changes, for max 120 frames
    function orientationChanged() {
      const timeout = 120;
      return new window.Promise(function(resolve) {
        const go = (i, height0) => {
          window.innerHeight != height0 || i >= timeout ?
            resolve(true) :
            window.requestAnimationFrame(() => go(i + 1, height0));
        };
        go(0, window.innerHeight);
      });
    }

    const handleScreenData = () => {
      const data = {
        innerWidth: window.innerWidth,
        innerHeight: window.innerHeight
      }
      store.dispatch('handleScreenData', data)
    }
    onMounted(() => {
      const latestVersion = store.state.system.versionLog[store.state.system.versionLog.length - 1].version
      latestVersion ? document.title = 'g.e.c.k. v' + latestVersion : null

      window.resizeTo(1370, 780)
      // console.log('--------------------mounted!')
      store.dispatch('equipDefaultGear')

      window.addEventListener('resize', handleScreenData)

      window.addEventListener('orientationchange', function () {
        orientationChanged().then(function() {
          // Profit
          handleScreenData()
        });
      });

      const isPopulated = localStorage.getItem('geck_populated')
      if (isPopulated === 'true') {
        // console.log('localStorage already populated!')
      } else {
        LS.initLocalStorage()
      }
    })
    onUpdated(() => {
      // console.log('--------------------updating...')
      // orientationChanged().then(function() {
      //     // Profit
      //     handleScreenData()
      //   });
      // console.log('--------------------updated!')
    })
    return {
      state: store.state,
    };
  },
});
</script>
<style>
body {
  margin: 0;
  padding: 0;
}
html {
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: right;
  background-position-y: top;
  background-size: cover;
  /* background-image: url("./assets/img/bg/3.jpg"); */
  /* background-image: url("./assets/img/bg/4.jpg"); */
  /* background-image: url("./assets/img/bg/5.jpg"); */
  /* background-image: url("./assets/img/bg/6.jpg"); */
  /* background-image: url("./assets/img/bg/7.jpg"); */
  /* background-image: url("./assets/img/bg/8.jpg"); */
  /* background-image: url("./assets/img/bg/10.jpg"); */
  /* background-image: url("./assets/img/bg/11.jpg"); */
  background-image: url("./assets/img/bg/14-logo.png");
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #c8ced4;

  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(101, 153, 103) transparent;
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(70, 182, 74);
  border: 1px transparent;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(179, 230, 172);
}
::-moz-scrollbar-button:decrement,
::-moz-scrollbar-button:increment,
::-webkit-scrollbar-button:decrement,
::-webkit-scrollbar-button:increment {
  width: 0px;
}
::-moz-scrollbar-button, ::-webkit-scrollbar-button {
  width: 0px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
#app-container {
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* @media (min-width: 50px) {
  .m-build-state-container {
    width: 90%;
    margin: 5%;
    display: grid;
    grid-template-columns: 96%;
    grid-template-rows: auto;
    grid-template-areas: 
      "header"
      "special"
      "skills"
      "traits"
      "footer";
    row-gap: 1%;
  }
} */
@media (min-width: 10px) {
  .m-build-state-container {
    width: 90%;
    margin: 5%;
    display: grid;
    grid-template-columns: 58% 38%;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header"
      "special skills"
      "info info"
      "traits traits"
      "footer footer";
    column-gap: 4%;
    row-gap: 1%;
  }
}
@media (min-width: 380px) {
  .m-build-state-container {
    width: 90%;
    margin: 5%;
    display: grid;
    grid-template-columns: 50% 46%;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header"
      "special skills"
      "info info"
      "traits traits"
      "footer footer";
    column-gap: 4%;
    row-gap: 1%;
  }
}
@media (min-width: 450px) {
  .m-build-state-container {
    width: 90%;
    margin: 5%;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header"
      "special skills"
      "info info"
      "traits traits"
      "footer footer";
    column-gap: 4%;
    row-gap: 1%;
  }
}


</style>
